.commentUser{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Altura de scroll de la columna de la derecha */
.scroll-columna-derecha {
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.carousel-container{
  height: 88vh;
}
.carousel-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}


/* Scroll vertical solo en desktop */
@media (min-width: 768px) {
.carousel-inner {
  height: 200px;
}

.scroll-columna-derecha {
    height: 88vh;
    overflow-y: auto;
  }
}
